.container {
  align-items: center;
  background-color: #1E2336;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.title {
  color: var(--color-white);
  font-family: 'Roboto';
  font-size: 2.25rem;
  font-weight: 900;
  margin-top: 60px;
}

.button {
  align-items: center;
  background-color: #56D8FF;
  border-radius: 5px;
  color: var(--color-grey-800);
  display: flex;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: 500;
  height: 68px;
  justify-content: center;
  margin: 40px 0;
  padding: 0 45px;
  text-decoration: none;
}

.icon {
  padding-right: 17px;
  height: 40px;
}